.{$px}logo
    border: none !important
    line-height: 1.2em
    display: inline-flex
    align-items: center
    white-space: nowrap
    &-image
        visibility: visible
    &-text
        margin-left: 10px
        display: block
        font-size: 23px
        color: #000
        font-weight: 500
    &_footer
        +e(-text)
            color: clr-white
            opacity: 0.4
            font-weight: 300
        
