.{$px}breadcrumbs
    breadcrumbs-links = #b8b8b8     // Цвет ссылок
    breadcrumbs-current = clr-primary // Цвет текущего пункта хлебных крошек
    breadcrumbs-font = font-nr      // Размер шрифта
    breadcrumbs-marginItem = 14px   // Расстояние между пунктами хлебных крошек
    breadcrumbs-splitter = '/'      // Разделитель для хлебных крошек
    
    //text-transform: uppercase;
    line-height: 1.8em
    font-size: breadcrumbs-font;
    overflow: hidden
    display: block
    clearfix()
    margin: 0
    padding: 0
    &-item
        display: block
        float: left
        position: relative
        font-weight: 400
        & + &
            margin-left: breadcrumbs-marginItem
            &:after
                color: breadcrumbs-links
                content: breadcrumbs-splitter
                display: block
                width: 20px
                height: 20px
                line-height: @height
                z-index: 0
                position: absolute
                text-align: center
                left: - ( (@margin-left / 2) + (@width / 2) -1px )
                top: 50%
                margin-top: - (@height / 2) - 1px
        a
            color: breadcrumbs-links;
            position: relative
            z-index: 1
            a(clr-primary)

        &_current
            color: breadcrumbs-current;
            text-decoration: none
            font-weight: 500
