.{$px}Rating
    font-family Montserrat
    align-items: center
    display: flex
    &Group
        text-align: center
    &-stars
        white-space: nowrap
    &-star
        display: inline-block
        svg
            width: 20px
            height: 20px
        & + &
            margin-left: 1px
        path
            fill: #f0f0f0
        &_view
            path
                fill: clr-joy
    &-title
        margin-left: 10px
        color: #babbbe
        font-size: font-nrm;
        font-weight: 500;
        text-transform: uppercase;
        &_success
            color: clr-success
            text-transform: none
            font-weight: 400
        &_error
            color: clr-danger
            text-transform: none
            font-weight: 400
    
    &_comment
        visibility: visible
        +e(-star)
            svg
                width: 15px
                height: 15px
    &_inputClick
        +e(-star)
            path
                fill: clr-joy
    &_input
        position: relative
        display: inline-block
        input
            width: 19px
            height: 19px
            margin-left: -20px !important
            opacity: 0
            margin-right: 0
            &:checked
                ~ {e(-star)}
                    path
                        fill: #f0f0f0
    &_noStyleLink
        cursor: default
        +m('desktop')
            &:hover
                border-bottom-color: transparent !important
    
