.{$px}Author
    display:block
    &-books
        font-weight: 500
        font-size: font-md
    &-amount
        color: #aaa
        display: inline-block
        margin-left: 5px
        font-size: 0.9em
    
