<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!--meta( http-equiv="cache-control" content="no-cache")-->
    <!--meta( http-equiv="expires" content="0")-->
    <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=64223515">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=64223515">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=64223515">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script defer src="/assets/js/scripts.min.js?v=64223515"></script>
</head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <div class="Section">
                <div class="Section-header">
                    <h2 class="Section-title">Рекомендуемое
                    </h2>
                </div>
                <div class="Slider Slider_carousel">
                    <div class="Slider-box Cards" data-load="recommended" data-loadoffset="0" data-loadlimit="6">
<!--                                            //data-load="recommended" data-loadoffset="0" data-loadlimit="20">-->
                        <div class="Slider-item" th:each="book : ${recommendedBooks}">
                            <div class="Slider-content">
                                <div class="Card"><a class="Card-picture" href="/books/slug.html"><img
                                        th:src="${book.image}" alt="card.jpg"/></a>
                                    <div class="Card-content">
                                        <strong class="Card-title"><a href="#"
                                                                      th:text="${book.title}">Техника</a>
                                        </strong>
                                        <div class="Card-description" th:text="${book.author}">Кондратенко Валерий
                                            Петрович
                                        </div>
                                        <div class="Card-cost">
                                            <span class="Card-priceOld" th:text="${book.priceOld}">₽300.00</span>
                                            <span class="Card-price" th:text="${book.price}">₽190.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Slider-navigateWrap">
                        <div class="Slider-navigate">
                        </div>
                    </div>
                    <div class="Slider-load">
                        <div class="Slider-load-text">Идет загрузка данных
                        </div>
                    </div>
                </div>
                <div class="Section-header">
                    <h2 class="Section-title">Новинки
                    </h2>
                </div>
                <div class="Slider Slider_carousel">
                    <div class="Slider-box Cards" data-load="recent" data-loadoffset="8" data-loadlimit="20">
                        <div class="Slider-item" th:each="book : ${newsBooks}">
                            <div class="Slider-content">
                                <div class="Card"><a class="Card-picture" href="/books/slug.html"><img
                                        th:src="${book.image}" alt="card.jpg"/></a>
                                    <div class="Card-content">
                                        <strong class="Card-title"><a href="#"
                                                                      th:text="${book.title}">Техника</a>
                                        </strong>
                                        <div class="Card-description" th:text="${book.author}">Кондратенко Валерий
                                            Петрович
                                        </div>
                                        <div class="Card-cost">
                                            <span class="Card-priceOld" th:text="${book.priceOld}">₽300.00</span>
                                            <span class="Card-price" th:text="${book.price}">₽190.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Slider-navigateWrap">
                        <div class="Slider-navigate">
                        </div>
                    </div>
                    <div class="Slider-load">
                        <div class="Slider-load-text">Идет загрузка данных
                        </div>
                    </div>
                </div>
                <div class="Section-header">
                    <h2 class="Section-title">Популярное
                    </h2>
                </div>
                <div class="Slider Slider_carousel">
                    <div class="Slider-box Cards" data-load="popular" data-loadoffset="8" data-loadlimit="20">
                        <div class="Slider-item" th:each="book : ${popularBooks}">
                            <div class="Slider-content">
                                <div class="Card"><a class="Card-picture" href="/books/slug.html"><img
                                        th:src="${book.image}" alt="card.jpg"/></a>
                                    <div class="Card-content">
                                        <strong class="Card-title"><a href="#"
                                                                      th:text="${book.title}">Техника</a>
                                        </strong>
                                        <div class="Card-description" th:text="${book.author}">Кондратенко Валерий
                                            Петрович
                                        </div>
                                        <div class="Card-cost">
                                            <span class="Card-priceOld" th:text="${book.priceOld}">₽300.00</span>
                                            <span class="Card-price" th:text="${book.price}">₽190.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Slider-navigateWrap">
                        <div class="Slider-navigate">
                        </div>
                    </div>
                    <div class="Slider-load">
                        <div class="Slider-load-text">Идет загрузка данных
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="Middle-title">Книги по тегам
            </h2>
            <div class="Tags" id="tags">
                <div class="Tag Tag_xs"><a href="/tags/index.html">современная литература</a>
                </div>
                <div class="Tag Tag_sm"><a href="/tags/index.html">классическая литература</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">зарубежная литература</a>
                </div>
                <div class="Tag Tag_md"><a href="/tags/index.html">фэнтези</a>
                </div>
                <div class="Tag Tag_lg"><a href="/tags/index.html">английская литература</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">русская литература</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">американская литература</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">фантастика</a>
                </div>
                <div class="Tag Tag_md"><a href="/tags/index.html">детская литература</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">детектив</a>
                </div>
                <div class="Tag Tag_sm"><a href="/tags/index.html">любовь</a>
                </div>
                <div class="Tag Tag_sm"><a href="/tags/index.html">мистика</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">юмор</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">приключения</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">сказка</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">французская литература</a>
                </div>
                <div class="Tag Tag_xs"><a href="/tags/index.html">англия</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">художественная литература</a>
                </div>
                <div class="Tag Tag_xs"><a href="/tags/index.html">психология</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">философия</a>
                </div>
                <div class="Tag Tag_lg"><a href="/tags/index.html">экранизировано</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">любимое</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">антиутопия</a>
                </div>
                <div class="Tag Tag_xs"><a href="/tags/index.html">books you must read before you die</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">роман</a>
                </div>
                <div class="Tag Tag_md"><a href="/tags/index.html">франция</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">дайте две</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">young adult</a>
                </div>
                <div class="Tag Tag_lg"><a href="/tags/index.html">война</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">история</a>
                </div>
                <div class="Tag Tag_sm"><a href="/tags/index.html">флэшмоб 2016</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">детство</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">жизнь</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">драма</a>
                </div>
                <div class="Tag Tag_md"><a href="/tags/index.html">россия</a>
                </div>
                <div class="Tag Tag_md"><a href="/tags/index.html">книжное путешествие</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">советская литература</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">триллер</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">америка</a>
                </div>
                <div class="Tag Tag_sm"><a href="/tags/index.html">немецкая литература</a>
                </div>
                <div class="Tag Tag_xs"><a href="/tags/index.html">вампиры</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">школьная программа</a>
                </div>
                <div class="Tag Tag_xs"><a href="/tags/index.html">рассказы</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">магия</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">дети</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">русская классика</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">флэшмоб 2015</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">биография</a>
                </div>
                <div class="Tag"><a href="/tags/index.html">english</a>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footFragment}" ></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<!--+menu(-->
<!--    'Это раз',-->
<!--    'Это два',-->
<!--    'Это три'-->
<!--)-->
<!--br-->
<!--br-->
<!--+menu._vt-->
<!--    +menuItem Это раз-->
<!--    +menuItem.-item_danger Это два-->
<!--    +menuItem Это три-->
</body>
</html>