
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru"> <!--<![endif]-->
<head>
  <title>Тут название страницы написать</title>
  <meta name="description" content="Описание страницы">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <!--meta( http-equiv="cache-control" content="no-cache")-->
  <!--meta( http-equiv="expires" content="0")-->
  <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
  <link href="favicon.ico" rel="shortcut icon">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/fonts.min.css?v=09585989">
  <link rel="stylesheet" href="/assets/css/basic.min.css?v=09585989">
  <link rel="stylesheet" href="/assets/css/extra.min.css?v=09585989"><!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script defer src="/assets/js/scripts.min.js?v=09585989"></script>
</head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->

  <header th:replace="~{fragments/header_fragment :: headFragment}"></header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item"><a href="/index.html">Главная</a>
          </li>
          <li class="breadcrumbs-item"><a href="/genres/index.html">Книги</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current"><span>Новинки</span>
          </li>
        </ul>
        <div class="Section">
          <div class="Section-header">
            <h1 class="Section-title">Новинки
            </h1>
            <form class="form form_inline Section-header-form" action="#" method="post">
              <div class="form-group">
                <label class="form-label">с
                </label>
                <input class="form-input form-input_date form-input_date_uninit" id="fromdaterecent" name="fromdaterecent" type="text" placeholder="Дата" data-refreshoffset="20" data-refreshlimit="20" data-refreshshow="changedate" data-refreshfrom="0" autocomplete="off"/>
              </div>
              <div class="form-group">
                <label class="form-label">по
                </label>
                <input class="form-input form-input_date form-input_date_uninit" id="enddaterecent" name="enddaterecent" type="text" placeholder="Дата" data-refreshoffset="20" data-refreshlimit="20" data-refreshshow="changedate" data-refreshto="0" autocomplete="off"/>
              </div>
            </form>
          </div>
          <div class="Cards Cards_refresh">
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Техника</a>
                </strong>
                <div class="Card-description">Кондратенко Александр Петрович
                </div>
                <div class="Card-cost"><span class="Card-priceOld">₽300.00</span><span class="Card-price">₽190.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
                <div class="Card-sale">30% скидка
                </div>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Английский язык. 5 класс. Английский в фокусе. Рабочая тетрадь. ФГОС</a>
                </strong>
                <div class="Card-description">Ваулина, Дули, Подоляко
                </div>
                <div class="Card-cost"><span class="Card-priceOld">₽250.00</span><span class="Card-price">₽210.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Английский язык. 4 класс. Английский в фокусе. Рабочая тетрадь</a>
                </strong>
                <div class="Card-description">Быкова, Дули, Эванс
                </div>
                <div class="Card-cost"><span class="Card-price">₽190.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
                <div class="Card-sale">30% скидка
                </div>
                <div class="Card-ribbon"><span class="Card-ribbonText">Бестселлер</span>
                </div><a class="Card-status" title="Куплена"><img src="/assets/img/icons/check.svg" alt="check.svg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Великая Отечественная война. 1941-1945</a>
                </strong>
                <div class="Card-description">Солопенко Алла, Меркулов Дмитрий
                </div>
                <div class="Card-cost"><span class="Card-price">₽50.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Большое путешествие по телу человека</a>
                </strong>
                <div class="Card-description">Джон Фарндон
                </div>
                <div class="Card-cost"><span class="Card-price">₽900.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a><a class="Card-status" title="В корзине"><img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Великая Отечественная война. 1941-1945</a>
                </strong>
                <div class="Card-description">Солопенко Алла, Меркулов Дмитрий
                </div>
                <div class="Card-cost"><span class="Card-price">₽50.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
                <div class="Card-ribbon"><span class="Card-ribbonText">Бестселлер</span>
                </div>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Большое путешествие по телу человека</a>
                </strong>
                <div class="Card-description">Джон Фарндон
                </div>
                <div class="Card-cost"><span class="Card-price">₽900.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Английский язык. 4 класс. Английский в фокусе. Рабочая тетрадь</a>
                </strong>
                <div class="Card-description">Быкова, Дули, Эванс
                </div>
                <div class="Card-cost"><span class="Card-price">₽190.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Великая Отечественная война. 1941-1945</a>
                </strong>
                <div class="Card-description">Солопенко Алла, Меркулов Дмитрий
                </div>
                <div class="Card-cost"><span class="Card-price">₽50.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a><a class="Card-status" title="Отложена"><img src="/assets/img/icons/heart.svg" alt="heart.svg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Большое путешествие по телу человека</a>
                </strong>
                <div class="Card-description">Джон Фарндон
                </div>
                <div class="Card-cost"><span class="Card-price">₽900.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Техника</a>
                </strong>
                <div class="Card-description">Кондратенко Александр Петрович
                </div>
                <div class="Card-cost"><span class="Card-priceOld">₽300.00</span><span class="Card-price">₽190.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
                <div class="Card-sale">30% скидка
                </div>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Английский язык. 5 класс. Английский в фокусе. Рабочая тетрадь. ФГОС</a>
                </strong>
                <div class="Card-description">Ваулина, Дули, Подоляко
                </div>
                <div class="Card-cost"><span class="Card-priceOld">₽250.00</span><span class="Card-price">₽210.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Английский язык. 4 класс. Английский в фокусе. Рабочая тетрадь</a>
                </strong>
                <div class="Card-description">Быкова, Дули, Эванс
                </div>
                <div class="Card-cost"><span class="Card-price">₽190.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
                <div class="Card-sale">30% скидка
                </div>
                <div class="Card-ribbon"><span class="Card-ribbonText">Бестселлер</span>
                </div><a class="Card-status" title="Куплена"><img src="/assets/img/icons/check.svg" alt="check.svg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Великая Отечественная война. 1941-1945</a>
                </strong>
                <div class="Card-description">Солопенко Алла, Меркулов Дмитрий
                </div>
                <div class="Card-cost"><span class="Card-price">₽50.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Большое путешествие по телу человека</a>
                </strong>
                <div class="Card-description">Джон Фарндон
                </div>
                <div class="Card-cost"><span class="Card-price">₽900.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a><a class="Card-status" title="В корзине"><img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Великая Отечественная война. 1941-1945</a>
                </strong>
                <div class="Card-description">Солопенко Алла, Меркулов Дмитрий
                </div>
                <div class="Card-cost"><span class="Card-price">₽50.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
                <div class="Card-ribbon"><span class="Card-ribbonText">Бестселлер</span>
                </div>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Большое путешествие по телу человека</a>
                </strong>
                <div class="Card-description">Джон Фарндон
                </div>
                <div class="Card-cost"><span class="Card-price">₽900.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Английский язык. 4 класс. Английский в фокусе. Рабочая тетрадь</a>
                </strong>
                <div class="Card-description">Быкова, Дули, Эванс
                </div>
                <div class="Card-cost"><span class="Card-price">₽190.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Великая Отечественная война. 1941-1945</a>
                </strong>
                <div class="Card-description">Солопенко Алла, Меркулов Дмитрий
                </div>
                <div class="Card-cost"><span class="Card-price">₽50.00</span>
                </div>
              </div>
            </div>
            <div class="Card">
              <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a><a class="Card-status" title="Отложена"><img src="/assets/img/icons/heart.svg" alt="heart.svg"/></a>
              </div>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Большое путешествие по телу человека</a>
                </strong>
                <div class="Card-description">Джон Фарндон
                </div>
                <div class="Card-cost"><span class="Card-price">₽900.00</span>
                </div>
              </div>
            </div>
            <div class="Cards-footer Cards-footer_center"><a class="btn btn_primary" href="#" data-refreshshow="recent" data-refreshoffset="20" data-refreshlimit="20">Показать еще</a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="~{fragments/footer_fragment :: footFragment}" ></footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body></html>