.{$px}buttons
    display: flex
    flex-wrap: wrap
    margin-top: -10px
    +b(btn)
        margin-top: 10px
        margin-right: 8px
/*----------  Button  ----------*/
.{$px}btn
    $height = 42px              // Минимальная высота кнопки
    $buttonPadding = 3px 15px   // Поля для кнопки
    $radius = 5px               // Скругления углов для всех кнопок
    $round = 10px                // Скругления углов для кнопок с классом .btn_round
    $borderSize = 1px           // Толщина границы

    $color = clr-white          // Стандартный цвет кнопки

    $text = text-main           // Цвет шрифта
    $fontSZ = font-nrm          // Размер шрифта
    
    btnHover(color=@border-color, text=@color, outline=null)
        border-color: color
        if outline
            color: color
            background: transparent
        else
            color: text
            background: color
            &.btn_outline
                background: transparent
                color: color
        transition: all 200ms
        +m('desktop')
            &:hover
                transition:  all 200ms
                cursor: pointer
                text-decoration: none
                if outline
                    background-color: lighten(saturate(@border-color[0], 20%), 80%)
                    border-color: lighten(saturate(@border-color[0], 20%), 80%)
                    color: color !important
                else
                    background-color: lighten(saturate(@border-color[0], 20%), 20%)
                    border-color: lighten(saturate(@border-color[0], 20%), 20%)
                    &.btn_outline
                        background-color: lighten(saturate(@border-color[0], 20%), 80%)
                        border-color: lighten(saturate(@border-color[0], 20%), 80%)
                        color: color !important
        &.btn_check
            if outline
                background-color: lighten(saturate(@border-color[0], 20%), 80%)
                border-color: lighten(saturate(@border-color[0], 20%), 80%)
                color: color !important
            else
                background-color: lighten(saturate(@border-color[0], 20%), 20%)
                border-color: lighten(saturate(@border-color[0], 20%), 20%)
                &.btn_outline
                    background-color: lighten(saturate(@border-color[0], 20%), 80%)
                    border-color: lighten(saturate(@border-color[0], 20%), 80%)
                    color: color !important
    
    btnSize(addDefault)
        font-size: (@font-size + addDefault)
        padding: ($buttonPadding[0] + addDefault) ($buttonPadding[1] + (2 * addDefault))
    
    display: inline-flex
    align-items: center
    justify-content: center
    min-height: $height
    border: $borderSize solid $color
    border-width: $borderSize !important
    border-color: $color
    border-radius: $radius
    background: $color
    padding: $buttonPadding
    line-height: 1.2em
    text-align: center
    color: $text
    text-decoration: none
    position: relative
    font-size: $fontSZ
    btnHover: @border-color
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 0.8px;
    padding-left: 38px
    padding-right: 38px
    &:focus
        outline:none
    
    &Error
        color: clr-danger
        margin-top: 10px
        display: block
        font-size: font-nrm
    
    &-icon
        margin: 0 !important
        margin-right: 10px !important
        height: 24px
        min-width: 24px
        img
            max-height: 100%
            max-width: 100%
            display: block

    &-content
        position: relative
        display: inline-block
        padding-right: 5px
        +e(-icon)
            width: 0
            //transform: translate(-11px)
            position: relative
            left: -17px
            top: -1px
            margin-right: 0
    &_icon
        padding: 0
        height: 24px
        min-height: @height
        min-width: @height
        display: inline-flex
        justify-content: center
        align-items: center
        border-radius: 100px
    
    &_round
        border-radius: $round
        
    &_outline
        btnHover: @border-color @color true
    
    &_default
        btnHover: clr-white #8e9096
        border-color: #e0e0e0
    &_white
        btnHover: clr-white clr-primary
        border-color: clr-white
        padding-left: 10px
        padding-right: 10px
        +m('desktop')
            &:hover
                background-color: lighten(saturate(clr-primary, 20%), 80%)
        &.btn_check
            background-color: lighten(saturate(clr-primary, 20%), 80%)
    
    
    &_info
        btnHover: clr-info clr-white
    &_square
        border-radius: 0;

    &_success
        btnHover: clr-success clr-white

    &_primary
        btnHover: clr-primary clr-white

    &_danger
        btnHover: clr-danger clr-white
        
    &_muted
        btnHover: #e8eaef #7c8088
        
    &_dark
        btnHover:  #a5abba clr-white
    &_like
    &_dislike
        &{e(_white)}
            +m('desktop')
                &:hover
                    background-color: #fff
    &_like
        +e(-icon)
            position: relative
            top: -3px
    &_dislike
        +e(-icon)
            position: relative
            top: 4px
    
    &_narrow
        padding-left: 23px
        padding-right: 23px

    &_warning
        btnHover: clr-warning clr-white
        
    &[disabled="disabled"]
    &[disabled=true]
    &[disabled="true"]
        btnHover: #e8eaef #7c8088
        +m('desktop')
            &:hover
                cursor: default

    &_sm
        btnSize: -3px
        
    &_nr
        btnSize: -2px
        padding-left: 20px
        padding-right: 20px
    
    &_md
        btnSize: 3px
        
    &_lg
        btnSize: 7px

    &_full
        width: 100%
        text-align: center
