.{$px}FAQ
    margin-top: 40px
    &-title
        display: block
        margin-bottom: 20px
        font-weight: 500
        font-size: font-mdm
    
    &-block
        + {e(-block)}
            margin-top: 30px
    &-footer
        text-align: center
        margin-top: 40px
    &-link
        font-size: font-mdm
        
