.{$px}Topup
    visibility: visible;
    display: flex
    justify-content: center
    &-title
        font-size: font-nrp
        font-weight: 600
    
    &-wrap
        max-width: 500px
    &-group
        align-items: flex-end
        +b(form-input)
            margin-right: 20px
            min-width: 100px
    &-btn
        text-align: center
    &-success
        color: clr-success
        text-align: center
        
    
